.App {
  min-height: 100vh;
  display: flex;
  background-color: skyblue;
}

::-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(135, 135, 135);
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}